@import 'tailwindcss';
@plugin "daisyui";

:root {
	--container: 1400px;
}
body {
	@apply bg-white text-base-content;
}
.container {
	@apply max-w-(--container) mx-auto px-4;
}
.card-zoom img {
	@apply transition-transform duration-300 ease-out;
}
.card-zoom:hover img {
	@apply scale-110 rotate-1;
}
.color-primary{
	@apply text-[#425A8B];
}

.btn-primary {
	@apply inline-flex items-center justify-center gap-2
         rounded-sm px-4 py-2
         border border-[#425A8B] text-[#425A8B]  
         bg-transparent hover:bg-[#425A8B] hover:text-white 
         cursor-pointer transition-colors duration-200
         focus:outline-none focus-visible:ring-2 focus-visible:ring-[#425A8B]/40 focus-visible:ring-offset-2
         disabled:opacity-50 disabled:cursor-not-allowed;
}


